Brotli==1.1.0
Flask==3.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Pillow==10.3.0
PyInstaller==6.10.0
Werkzeug==3.1.3
aioquic==1.2.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
asgiref==3.8.1
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
codecarbon
codecarbon==0.17.1
cryptography==44.0.3
fastapi==0.115.12
google-api-core==2.25.0rc1
google-api-python-client
google-api-python-client==2.120.0
google-auth
google-auth-httplib2
google-auth-httplib2==0.2.0
google-auth-oauthlib
google-auth-oauthlib==1.2.0
google-auth==2.40.1
google-cloud-core==2.4.3
google-cloud-storage
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
h11==0.16.0
h2==4.1.0
hpack==4.1.0
httplib2==0.22.0
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
kaitaistruct==0.10
ldap3==2.9.1
mitmproxy
mitmproxy-macos==0.12.3
mitmproxy==12.0.1
mitmproxy_rs==0.12.3
msgpack==1.1.0
oauthlib==3.2.2
passlib==1.7.4
pillow
proto-plus==1.26.1
protobuf==6.30.2
publicsuffix2==2.20191221
pyOpenSSL==25.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pyinstaller
pylsqpack==0.3.20
pyparsing==3.2.3
pyperclip==1.9.0
python-multipart==0.0.20
requests
requests-oauthlib==1.3.1
requests==2.32.3
rsa==4.9.1
ruamel.yaml==0.18.10
service-identity==24.2.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.46.2
tornado==6.4.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
urwid==2.6.16
uvicorn==0.34.2
wcwidth==0.2.13
wsproto==1.2.0
zstandard==0.23.0
